&i2c2 {
	status = "okay";
/*
	aw9160x_sar@13 {
		compatible = "awinic,aw9610x_sar";
		reg = <0x13>;

		irq-gpio = <&ap_gpio 132 0>;
		chip_name = "AW96103";
		status = "okay" ;
	};

	stk501xx_sar@2c {
		compatible = "stk,stk501xx";
		reg = <0x2c>;

		stk501xx,irq-gpio = <&ap_gpio 132 0>;
		chip_name = "STK50153";
		status = "okay" ;
	};
*/

	aw9160x_sar@12 {
		compatible = "awinic,aw9610x_sar_2";
		reg = <0x12>;

		irq-gpio = <&ap_gpio 192 0>;
		phase_use_flag = <0x04>;
		chip_name = "AW96103";
		status = "okay" ;
	};

	stk501xx_sar@28 {
		compatible = "stk,stk501xx_2";
		reg = <0x28>;

		stk501xx,irq-gpio = <&ap_gpio 192 0>;
		stk501xx,phase_use_flag = <0x01>;
		chip_name = "STK50153";
		status = "okay" ;
	};
};
